@import 'tailwindcss';

@theme inline {
  /* Fonts */
  --font-montserrat: var(--font-montserrat), sans-serif;
}

@theme {
  /* Colours */
  --color-soft-pink: #fff4f4;
  --color-indigo-slate: #373672;
  --colour--deep-maroon: #7e0000;
  --colour--pale-blush: #fff2f2;
}

@layer base {
  body {
    @apply font-montserrat antialiased;
  }

  button,
  a {
    @apply cursor-pointer;
  }
}
